.active { 
    background-color: black !important;
    border-radius: 2px;
}

.nav-link {
    color: black !important;
}

.nav-link.active {
    color: white !important;
}

body {
    background-color: black;
}

