html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.active { 
    background-color: white !important;
    border-radius: 2px;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    color: black !important;
}

#form-text-area {
    resize: none;
}